@model IEnumerable<StudentAttendance.Student_Details>

@{
    ViewBag.Title = "Student_Details_filter";
}
<body onload="swaminarayan()">
<h2>Filtered Student List : @ViewBag.section</h2>

<p>
    @Html.ActionLink("Back to All Studnets", "Student_Details")
</p>

<input type="text" name="sections" id="myDIV1" class="form-control" value="@ViewBag.section" />

<table class="table table-hover">
    <thead>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model)
{
    
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("CreatAbsents_swami_forfilter", new { id = item.id })'">Absent</button>
            </td>
        </tr>
    </tbody>
}

</table>
<script>
    function swaminarayan() {
        document.getElementById("myDIV1").style.visibility = "hidden";
        

    }
</script></body>